!sounds/
sounds/*
!sounds/a little [exmen, random].mp3
!sounds/absolutely [snl, agree].mp3
!sounds/alright guys thats enough for today [badman, bye].mp3
!sounds/and that seems to hit the nail right on the head [john oliver, agree].mp3
!sounds/boy tanya [snl, random].mp3
!sounds/crabrave [music].mp3

settings.txt